:root {
  --red: #ef233c;
  --gray: #D8DEE3;
  --darkGray: #323638;
  --btn-background: #F5F8FA;
  --btn-background-hover: #eceff1;
  --btn-border: #D5D8DA;
}

.App {
  display: block;
  color: #282828;
}

.blurbContainer {
  width: 25%;
  justify-content: center;
  border-right: 2px solid var(--gray);
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  line-height: 1.5;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 2rem;
  color: var(--darkGray);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.titleSnack {
  color: var(--red);
}

.selectLabel {
  padding-top: 0.5rem;
}

.restaurantContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 4rem;
}

.cityDropdown {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.keyContainer {
  line-height: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .restaurantContainer {
    width: 75%;
    justify-content: flex-end;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }

  .blurbContainer {
    width: 30%;
  }

  .restaurantContainer {
    width: 60%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .blurbContainer {
    background-color: white;
    width: 80%;
    border-bottom: 2px solid var(--gray);
    border-right: none;
    position: sticky;
    margin: 0 auto -3rem auto;
    padding-bottom: 1rem;
  }

  .restaurantContainer {
    width: 90%;
  }

  .description {
    display: none;
  }

  .keyContainer {
    display: flex;
  }

  .keyItem {
    margin: 1rem 0.5rem;
  }
}
